<div class="container">
    @if (User.Identity.IsAuthenticated && User.IsInRole("SSTU_Administrator"))
    {
        <h3>Вы находитесь в веб-приложении управления системой контроля доступа</h3>
        <p>Функциональные возможности:</p>
        <ul>
            <li>
                В разделе "Датчики" вы можете настроить датчики, типы датчиков и разрешения для прохода;
            </li>
            <li>
                В разделе "Пользователи" вы можете загрузить фотографии пользователям системы;
            </li>
            <li>
                В разделе "События" вы можете просмотреть события и настроить новые типы событий;
            </li>
            <li>
                В разделе "Журнал" вы можете просмотреть все изменения, которые были внесены в систему;
            </li>
            <li>
                В разделе "БД" вы можете взаимодействовать с базой данных;
            </li>
            <li>
                В разделе "API" вы можете просмотреть все этапы RESTful запросов;
            </li>
            <li>
                В разделе "JOBS" вы можете отслеживать процесс выполнения фоновых задач системы по расписанию.
            </li>
        </ul>
    }
    else
    {
        <h3>Пожалуйста, войдите в систему под своей учетной записью</h3>
    }
</div>