@model Domain.Core.Admission

<div class="modal-content">
    <div class="modal-header title-color">
        <button class="close exit-color" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Разрешение №@Html.DisplayFor(model => model.ID)</h4>
    </div>
    <div class="modal-body title-details-color">
        <dl class="dl-horizontal">

            <dt>
                @Html.Label("Описание")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.Label("Роль")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>

        </dl>
    </div>
</div>