@model Service.DTO.IdentityDTO

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Пользователь №@Html.DisplayFor(model => model.ID)</h4>
    </div>
    <div class="modal-body">
        @if (Model.Picture != null)
        {
            <img src="~/Content/uploads/@Model.Picture" />
        }
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GUID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GUID)
            </dd>
        </dl>
    </div>
</div>